.app-title-desktop {
  font: 80px 'Montserrat', sans-serif;
  font-weight: 500;
  color: #333333;
  text-align:center;
  letter-spacing: -1px;
  line-height:0.2em;
  padding-bottom: 20px;
}

.app-subtitle-desktop {
  font: 30px 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  color: #333333;
  text-align:center;
  letter-spacing: -1px;

  padding-bottom: 20px;
}

.app-content-desktop {
  font: 80px 'Montserrat', sans-serif;
  font-weight: 500;
  color: #333333;
  text-align:center;
  letter-spacing: -1px;
  line-height:0.2em;
  padding-bottom: 20px;
}

.app-content-sub-desktop {
  font: 40px 'Montserrat', sans-serif;
  font-weight: 500;
  color: #333333;
  text-align:center;
  letter-spacing: -1px;
  line-height: 2em;
  padding-bottom: 10px;
}




.app-title-mobile {
  font: 40px 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 0px;
  color: #333333;
  text-align:center;
  line-height:0.2em;
  padding-bottom: 5px;
}

.app-subtitle-mobile {
  font: 25px 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 0px;
  color: #333333;
  text-align:center;
}

.app-content-sub-mobile {
  font: 30px 'Montserrat', sans-serif;
  font-weight: 500;
  color: #333333;
  text-align:center;
  letter-spacing: -1px;
  line-height: 2em;
  padding-bottom: 10px;
}







.content {
  font-size: 35px;
  color: #333333;
}

.Copyright {
  font-size: 15px;
  color: #a1a1a1;
  text-align:center;
}

.link {
  font: 25px 'Montserrat', sans-serif;
}

a {
  font-weight: 500;
  color: #2c71c3;
  text-decoration: none;
}

i {
  font-size: 30pt;
  width: 40px;
}
